:root {
/*Color palate*/
    --background:#475250;
    --light:#d1d1d1;
    --lilac:#be61e0;
    --coral:#FF7077;
    --cyan:#a6e1d8;
}

*{
    background-color: var(--background);
    color: white;
}
/*All header elements*/
h1, h1 + p {
    color: white;
    display: flex;
    justify-content: center;
    line-height: 20px;
}

h1 {
    padding-top: 2%;
}

h1 + p {
    padding-bottom: 0;
}

/*All nav elements*/
nav {
    padding: 3px 1%;
    display: sticky;
}

nav ul {
    border-radius: 20px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    padding: 1%;
}

nav li {
    padding: 1%;
    background-color: var(--light);
}

nav a, nav li{
    background-color: var(--light);
    color: black;
}
/*Affects article #about-me elements*/
#about-me{
    padding: 3px 1px;
    display:flex;
    justify-content: space-between;
}

#about-me img {
    margin: 0 0.5% 0 1%;
    padding: 3px 1px;
    border-radius: 30px;
}

#about-me section {
    margin: 0 1% 0 0.5%;
    background-color: var(--coral);
    width:100%;
    padding: 3px 0px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me h2, #about-me p {
    background-color: var(--coral); 
    color: white;
    padding: 0 2%;
    margin: 0 1%;
}

/*My Work section*/
h2{
    background-color: var(--lilac);
    color: white;
    padding: 1%;
    margin: 3px 1%;
    border-radius: 15px;
}
/*css Snippet and description*/
/*For projects after first project
Not inserted in HTML yet*/
#following-projects {
    display: flex;
    margin: 1%;
    justify-content: space-evenly;
}
#following-projects img {
    width: 99%;
    margin-right: 1%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.following-description {
    background: var(--light);
    margin-right: 1%;
    margin-top: -1%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.following-description h3, 
.deployed-link {
    background: var(--light);
    color: var(--lilac);
    padding: 2% 2% 0% 6%;
    margin: 1%;
}

.repo-link {
    background: var(--light);
    color: var(--lilac);
}

.following-description p {
    background-color: var(--light);
    color: var(--lilac);
    padding: 1% 1% 2% 7%;
    margin: 1% 5%;
    opacity: 30%;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}
.custom-card:hover p{
    opacity: 100%;
    color: black;
}

/*Contact Me info */
aside {
    background-color: var(--cyan);
    margin: 1%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
aside h3 {
    margin: 1% 1% 0 1%;
    padding: 1%;
    background-color: var(--cyan);
    color: black;
    border-radius: 13px;
}

aside ul {
    display: flex;
    justify-content: center;
    background-color: var(--cyan);
    margin: 1%;
}

aside li {
    background-color: var(--cyan);
    color: black;
    width: ;
    margin: 1%; 
    width: max-content;
}

aside a {
    background-color: var(--cyan);
    color: black;
}

/*Footer*/ 
footer {
    display:flex;
    justify-content: center;
    margin: 1%;
}

h4 {
    color: var(--cyan);
    padding-bottom: 1%;
}
/*Tablet-size*/
@media screen and (max-width:992px){ 
    /*Affects navigation*/
    nav ul {
        border-radius: 15px;
    }   
    /*affects my work header*/
    #my-work h2 {
        border-radius: 12px;
    }
}
/*Phone-size*/
@media screen and (max-width: 768px){
    /*affects navigattion*/
    nav ul {
        border-radius: 11px;
    }
    /*Affets about me section (stacks)*/
    #about-me {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 1%;
    }
    #about-me img {
        width: 40%;
    }
    #about-me section {
        height:fit-content;
        margin: 1%;
        padding: 6px;
        border-radius: 12px;
    }
    #about-me section p {
        margin: 2%;
    }
    /*affects my work section*/ 
    #my-work h2 {
        border-radius: 10px;
    }

    #first-project img, 
    .project-individual img {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }    
    /*affects following-projects (not added yet) but will stack*/
    #following-projects {
        display: block;
    }
    #following-project img {
        width: 100%;
    }

    #first-description, 
    .following-description {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-bottom: 1%;
    }
    
    #first-description p, 
    .following-description p {
        opacity: 100%;
        color: black;
    }

}