:root {
/*Color palate*/
    --background:#475250;
    --light:#d1d1d1;
    --lilac:#be61e0;
    --coral:#FF7077;
    --cyan:#a6e1d8;
}

*{
    background-color: var(--background);
    color: white;
}
/*All header elements*/
h1, h1 + p {
    color: white;
    display: flex;
    justify-content: center;
    line-height: 20px;
}

h1 {
    padding-top: 2%;
}

h1 + p {
    padding-bottom: 2%;
}

/*All nav elements*/
nav {
    padding: 3px 1%;
    display: sticky;
}

nav ul {
    border-radius: 20px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    padding: 1%;
}

nav li {
    padding: 1%;
    background-color: var(--light);
}

nav a, nav li{
    background-color: var(--light);
    color: black;
}
/*Affects article #about-me elements*/
#about-me{
    padding: 3px 1px;
    display:flex;
    justify-content: space-around;
}

#about-me img {
    padding: 3px 1px;
    border-radius: 30px;
}

#about-me section {
    background-color: var(--coral);
    padding: 3px 0px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me h2, #about-me p {
    background-color: var(--coral); 
    color: white;
    padding: 0 2%;
    margin: 0 1%;
}

h2{
    background-color: var(--lilac);
    color: white;
    padding: 1%;
    margin: 3px 1%;
    border-radius: 15px;
}

#first-project {
    display: flex;
    position: relative;
}
#first-description {
    display: none;
    transition: all 0.5ms ease-in;
}

#first-description h3, #first-description p {
    padding: 4% 0;
    background: var(--light);
    color: var(--light);
    transition: color 0.5ms ease-out;
}
#first-description p {
    font-size: 12px;
}
#first-description a {
    display: block;
    background-color: var(--light);
    color: var(--light);
    transition: color 0.5ms ease-out;
}
#first-project img {
    display: flex;
    position: relative;
    margin: 1% auto;
    width: 98%;
    height:fit-content;
    border-radius: 50px;
}

#first-project:hover #first-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    background: var(--light);
    padding: 100px 10px;
    margin: 1% -150px 1% 1%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 1;
}
#first-project:hover a, #first-project:hover p {
    color: var(--lilac);
}/*add shadow? and also transition need help with transition*/

#first-project:hover img {
    margin-right: 1%;
}
